#### 1. Importing Libraries

In [10]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from datetime import date

#### 2. Loading and Exploring the Data

In [11]:
df = pd.read_csv('cardekho.csv')

In [12]:
df.describe()
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [13]:
df.year.value_counts(ascending=False)
df.fuel.value_counts()
df.seller_type.value_counts() # there are 3 types of seller_type
df.transmission.value_counts() # There are 2 types of transmission

df['mileage(km/ltr/kg)'].describe()
df.seats.value_counts()

df.owner.value_counts() # There are 5 types of owners

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [14]:
df[df.isna().any(axis=1)].shape  ### 221 rows has null values (represents the 3% of the total data)

df.duplicated().sum() # 1202 duplicated rows

np.int64(1202)

#### 3. Data Cleaning and Preparation

In [15]:
# Dropping the name of the cars
df.drop(columns='name',inplace = True)

In [16]:
# Deleting the duplicated rows
df.drop_duplicates(inplace=True)

In [17]:
# Dropping rows with missing data
df.dropna(inplace=True)

In [18]:
# Change year -> age
this_year = date.today().year
df.loc[:,'year'] = this_year - df.loc[:,'year']

#### 4. Scaling or Normalizing Data

In [19]:
# Encoding the owner column
df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,10,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,10,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,18,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,14,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,17,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8121,11,260000,50000,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.1,5.0
8122,10,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0
8123,11,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,17,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110,5.0
8125,15,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.9,5.0

#### 5. Model Building and Training

#### 6. Model Evaluation